.active{
    color: #fb64b6;
}


.scrollbar-hide::-webkit-scrollbar{
    display: none;
}

.scrollbar-hide{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sideDetails {
    color: white;
    display: flex;
    flex-direction: column;
    height: 450px;
    gap: 10px;
    background-color: rgba(128, 128, 128, 0.29);
    padding: 1rem;
    



}

.sideDetails li{
    display: flex;
    gap: 1rem;

}

.sideDetails li span{
    color: rgb(250, 179, 191)
}